.coursecard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 16px;
  background-color: rgba(255, 255, 255, 0.92);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 230px;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
}

.coursecard:hover {
  transform: scale(1.05);
}

.coursename {
  font-size: 20px;
  color: #333;
  margin: 8px 0;
}

.coursecode {
  font-size: 22px;
  color: #ff7900;
  margin: 4px 0;
}

.coursedescription {
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin: 8px 0;
}

.courserating {
  color: #333;
  margin: 8px 0;
}

.starfilled {
  color: #ffcc00;
  cursor: pointer;
}

.starempty {
  color: #ccc;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto; 
}

.ratebutton,
.readreviewbutton,
.chatgroupbutton {
  padding: 8px 10px;
  background-color: #ff7900;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 12px;
}

.ratebutton:hover,
.readreviewbutton:hover {
  background-color: #ca640a;
}
