.coursecard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 1px;
  background-color: rgba(20, 20, 20, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 470px;
}

.coursename {
  font-size: 24px;
  color: rgb(28, 24, 24);
}

.coursecode {
  font-size: 30px;
  color: #ff7900;
}

.professorname {
  color: #555;
}

.coursedescription {
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.courserating {
  align-items: left;
  color: rgb(28, 24, 24);
}

.starfilled {
  color: #ffcc00;
}

.starempty {
  color: #ccc;
}

.ratebutton {
  margin: 10px;
  padding: 5px 10px;
  background-color: #ff7900;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 60px;
}

.ratebutton:hover {
  background-color: #ca640a;
}
