.all-navbar {
    text-align: center;
  }
  .logo {
    text-align: center;
    font-size: 100px;
  }
  .NUS {
    color: #ff7900;
    float: left;
  }
  .Rate {
    color: #0055a4;
    float: left;
  }
  .navbar ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  }
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
  }
  .navbar a:hover {
    background-color: hsl(0, 0%, 10%);
  }
  
  .navbar ul li {
    float: left;
    padding: 10px;
  }