.logo {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  margin: 0;
}

.NUS {
  color: #ff7900;
}

.Rate {
  color: #0055a4;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  height: 8%;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  text-align: center;
  display: block;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: #0d0d0d;
  border-radius: 5px;
}

.navbar ul li {
  padding: 0 10px;
}

.reglog {
  cursor: pointer;
}

body {
  padding-top: 100px;
}

