.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.main {
  flex: 1;
  background-color: hsl(0, 0%, 25%);
  margin: 200px 100px 100px 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 20px;
}

.search {
  width: 1000px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.searchinput {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: black;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.inputbox {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.inputbox input {
  width: calc(100% - 40px);
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: black;
  padding: 20px;
}

.inputbox input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.inputbox .icon {
  position: absolute;
  right: 20px;
  bottom: 35%;
  transform: translate(-50%);
  font-size: 16px;
}

.button {
  width: 100%;
  height: 45px;
  background: #007bff;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1em;
  color: white;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  transition: border-color 0.25s;
}

.button:hover {
  background-color: #0056b3;
}

.errorMessage {
  color: red;
  margin-top: 10px;
}

.successMessage {
  color: green;
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagebutton {
  margin: 0 5px;
  padding: 10px 15px;
  background-color: #ff7900;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagebutton:hover {
  background-color: #ca640a;
}
