.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}
.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 100px;
  padding: 10px;
  z-index: 1001;
}

.searchinput {
  width: 80%;
  max-width: 600px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-right: 10px;
}

.main {
  flex: 1;
  margin: 0px 100px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 1000px;
  z-index: 1000;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagebutton {
  margin: 0 5px;
  padding: 10px 15px;
  background-color: #0055a4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagebutton:hover {
  background-color: #0055a4;
}

.currentpage {
  background-color: #052a4d;
}

/* .CiSearch {
  font-size: 20px;
  color: #666;
  cursor: pointer;
  position: absolute;
  right: 700px;
  top: 50%;
  transform: translateY(-50%);
} */
